<div class="container">
<mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Movie</mat-card-title>
      <mat-card-subtitle>Avengers Endgame</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://specials-images.forbesimg.com/imageserve/5cc0c243a7ea436c70f3ba2f/960x0.jpg?fit=scale" >
    <mat-card-content>
      <p>
        After the devastating events of Avengers: Infinity War (2018), the universe is in ruins. With the help of remaining allies, the Avengers assemble once more in order to reverse Thanos' actions and restore balance to the universe.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Movie</mat-card-title>
      <mat-card-subtitle>Batman vs Superman</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://i.ytimg.com/vi/MmZIWoLlM7g/maxresdefault.jpg" >
    <mat-card-content>
      <p>
        An alien orphan is sent from his dying planet to Earth, where he grows up to become his adoptive home's first and greatest superhero.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Movie</mat-card-title>
      <mat-card-subtitle>Harry Potter</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://cdn.images.express.co.uk/img/dynamic/36/590x/Harry-Potter-star-reveals-Wolverine-truth-1086270.jpg?r=1552920893458" >
    <mat-card-content>
      <p>
        Adaptation of the first of J.K. Rowling's popular children's novels about Harry Potter, a boy who learns on his eleventh birthday that he is the orphaned son of two powerful wizards and possesses unique magical powers of his own. He is summoned from his life as an unwanted child to become a student at Hogwarts, an English boarding school for wizards. There, he meets several friends who become his closest allies and help him discover the truth about his parents' mysterious deaths.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
  